<!doctype html>
<html lang="en">

<head>
    <title>Events</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mali" rel="stylesheet">
    <link rel="stylesheet" href="/styles/events.css">
    <link rel="stylesheet" href="/src/scss/custom-boostrap.scss">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>

<body>


    <%- include('headerPartial') %>



        <main class="main-article ">
            <div class="d-flex justify-content-center align-items-center mt-5">
                <span class="icon-search"><i class="fas fa-search"></i></span>
                <input type="text" class="form-control input-search" placeholder="Tìm kiếm sự kiện">
            </div>
            <ul class="tabs-nav nav nav-pills mb-5 mt-5 justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                        aria-selected="true">Tất cả</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                        aria-selected="false">Đang diễn ra</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">Sắp diễn ra</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                    <% events.forEach(event=> { %>

                        <div class="card-events card mb-3">
                            <div class="row g-0">
                                <div class="col-md">
                                    <img src="/image//blackpinkconcert.jpg" class="img-fluid rounded-start"
                                        alt="BlackPink-concept" style="height: 300px;">
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <div class="card-title d-flex justify-content-between">
                                            <img src="/image//logoblackpink.png" alt="" height="50">
                                            <div>
                                                <% if (event.status==='Đang diễn ra' ) { %>
                                                    <span
                                                        class="free-pill-title badge rounded-pill text-bg-success">FREE</span>
                                                    <% } else { %>
                                                        <span
                                                            class="free-pill-title badge rounded-pill text-bg-warning">WAIT</span>
                                                        <% } %>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column justify-content-between content-events">
                                            <p class="card-text">
                                                <%= event.content %>
                                            </p>
                                            <div class="card-text d-flex justify-content-between">
                                                <div>
                                                    <div>
                                                        <small class="text-muted">
                                                            <i class="fas fa-map-marker-alt pe-1"></i>
                                                            Location: <%= event.event_location %>
                                                        </small>
                                                    </div>
                                                    <div>
                                                        <small class="text-muted">
                                                            <i class="fas fa-calendar pe-1"></i>
                                                            <%= new Date(event.event_date).toLocaleDateString() %>

                                                        </small>
                                                    </div>
                                                </div>

                                                <div class="d-flex align-items-end">
                                                    <% if (user) { %>
                                                        
                                                        <% if (event.hasRegistered === 1) { %>
                                                            <button class="btn btn-lg btn-outline-primary btn-maincolor" disabled>Đã đăng ký</button>
                                                          <% } else { %>
                                                            <button id="registerButton_<%= event.event_id %>" class="btn btn-lg btn-outline-primary btn-maincolor" onclick="registerForEvent('<%= event.event_id %>')">Đăng ký tham gia</button>
                                                          <% } %>

                                                    <% } else { %>
                                                            <a href="/"><button
                                                                    class="btn btn-lg btn-outline-primary btn-maincolor">Đăng
                                                                    nhập để tham gia</button></a>
                                                    <% } %>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>

                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...
                </div>
            </div>
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
            </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
            </script>
</body>
<!-- <script>


    function registerForEvent(eventId) {
        // const registerButton = document.getElementById('registerButton');
        const registerButton = document.getElementById(`registerButton_${eventId}`);

        if (!registerButton) {
        console.error(`Button with ID 'registerButton_${eventId}' not found.`);
        return;
      }
        // Gửi yêu cầu POST để đăng ký tham gia sự kiện
        fetch('/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ eventId })
        })
        .then(response => response.json())
        .then(data => {
            // Log the success message from the server (optional)
            console.log(data.message);

            // If the registration was successful, update the button text and disable it
            if (data === 1  ) {
                // const buttonElement = document.querySelector(`[onclick="registerForEvent('${eventId}')"]`);
                // const buttonElement = document.getElementById(`registerButton_${eventId}`);
                registerButton.textContent = 'Đã đăng ký';
          registerButton.disabled = true;

            }
          
        })
        .catch(error => {
            // Xử lý lỗi (nếu cần)
            console.error(error);
        });
    }



</script> -->

<script>
    // Phần mã JavaScript khai báo trước

    function registerForEvent(eventId) {
        const registerButton = document.getElementById(`registerButton_${eventId}`);

        // Gửi yêu cầu POST để đăng ký tham gia sự kiện
        fetch('/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ eventId })
        })
            .then(response => response.json())
            .then(data => {
                // Log the success message from the server (optional)
                console.log(data.message);

                // If the registration was successful, update the button text and disable it
                if (data.message === 'Đăng ký tham gia sự kiện thành công') {
                registerButton.textContent = 'Đã đăng ký';
                registerButton.disabled = true;
            } else if (data.message === 'Người dùng đã đăng ký sự kiện này trước đó') {
                // Nếu người dùng đã đăng ký trước đó, không làm gì cả
                registerButton.textContent = 'Đã đăng ký';
                registerButton.disabled = true;           
             }
        })
            .catch(error => {
                // Xử lý lỗi (nếu cần)
                console.error(error);
            });
    }




</script>


</html>