<!DOCTYPE html>
<html lang="en">

<head>
  <title>Events</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Mali" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
    integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous" />
  <link rel="stylesheet" href="node_modules/sweetalert2/dist/sweetalert2.min.css">

  <link rel="stylesheet" href="/styles/events.css">
  <link rel="stylesheet" href="/src/scss/custom-boostrap.scss">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
  <%- include('headerPartial') %>


    <main>
      <!-- <div class="d-flex ">
      <div></div>
    </div> -->
      <div class="position-relative">
        <div class="position-absolute title-event-page p-3 p-md-5">
          <h1 class="text-maincolor fw-bold">Hãy tham gia sự kiện cùng Woowa Adex!!!</h1>
          <span>Đăng ký tài khoản để tham gia sự kiện và nhận nhiều phần quà hơn</span>
        </div>
        <div class="backgroundevent"></div>

      </div>

      <div class="main-article">
        <!-- <div class="d-flex justify-content-center align-items-center mt-5">
                <span class="icon-search"><i class="fas fa-search"></i></span>
                <input type="text" class="form-control input-search" placeholder="Tìm kiếm sự kiện">
            </div> -->
        <ul class="tabs-nav nav nav-pills mb-5 mt-5 justify-content-center" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
              type="button" role="tab" aria-controls="pills-home" aria-selected="true">
              Tất cả
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
              type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
              Đang diễn ra
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
              type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
              Sắp diễn ra
            </button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active m-lg-5 m-2" id="pills-home" role="tabpanel"
            aria-labelledby="pills-home-tab">
            <% events.forEach(event=> { %>

              <div class="card-events card mb-3">
                <div class="row g-0">
                  <div class="col-md col-12">
                    <img src="/image/partymusicevent1x1.png" class="img-fluid rounded-start" alt="BlackPink-concept" />
                  </div>
                  <div class="col-12 col-md-9">
                    <div class="card-body">
                      <div class="card-title d-block d-md-flex justify-content-between pb-3">
                        <h1 class="title-event">
                          <%=event.event_name%>
                        </h1>
                        <div class="free-pill-title"><span>Miễn Phí</span></div>
                      </div>
                      <div class="d-flex flex-column justify-content-between content-events">
                        <p class="card-text">
                          <%=event.content%>
                        </p>
                        <div class="d-block d-md-flex justify-content-between">
                          <div class="d-md-flex flex-md-column justify-content-end">
                            <div>
                              <small class="text-muted">
                                <i class="fas fa-map-marker-alt pe-1"></i>
                                Location: <%= event.event_location %>
                              </small>
                            </div>
                            <div>
                              <small class="text-muted">
                                <i class="fas fa-calendar pe-1"></i>
                                <%= new Date(event.event_date).toLocaleDateString() %>
                              </small>
                            </div>
                          </div>
                          <% if (user) { %>

                            <div class="mt-2 mt-lg-0 d-md-none d-block">

                              <div class="d-flex justify-content-between">
                                <small>Cần giới thiệu <%= 10 - user.referral_code_count %> người để nhận được vé</small>
                                <span class="text-maincolor fw-bold">
                                  <%= user.referral_code_count %>/10
                                </span>
                              </div>
                              <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                  aria-label="Animated striped example" aria-valuenow="6" aria-valuemin="0"
                                  aria-valuemax="10" style="width: <%= user.referral_code_count * 10 %>%;"></div>
                              </div>
                            </div>
                            <% } else { %>

                              <% } %>


                                <div class="d-flex align-items-end">
                                  <% if (user) { %>
                                    <% if (ticket==='yes' ) { %>
                                      <button class="btn btn-lg btn-outline-primary btn-maincolor" disabled>
                                        <i class="fas fa-check"></i> Đã nhận vé
                                      </button>
                                      <% } else if (user.referral_code_count>= 10) { %>
                                        <div class="d-flex align-items-end mt-2 mt-lg-0">
                                          <button class="btn btn-lg btn-outline-primary btn-maincolor w-100 w-md-auto"
                                            onclick="return showRedeemConfirmation()">
                                            Nhận vé
                                          </button>
                                        </div>

                                        <% } else { %>

                                          <div class="position-relative d-none d-md-block">
                                            <div class="pie position-absolute end-0"
                                              data-pie='{"unit": "<%= user.referral_code_count%>/10", "percent": <%= user.referral_code_count * 10 %> ,"strokeBottom": 5, "colorSlice": "#0043AB", "colorCircle": "#f1f1f1", "round": true, "size": 80, "fontSize": "1.6rem"}'
                                              data-pie-index="1">
                                            </div>
                                            <% if (user.referral_code_count> 10) { %>
                                              <% } else { %>
                                                <small>Cần giới thiệu <%= 10 - user.referral_code_count %> người để nhận
                                                    vé</small>
                                                <% } %>
                                          </div>

                                </div>
                                <% } %>
                                  <% } else { %>
                                    <a href="/login"><button class="btn btn-lg btn-outline-primary btn-maincolor">Đăng
                                        nhập để tham gia</button></a>
                                    <% } %>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          ...
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
          <div class="card-events card mb-3">
            <div class="row g-0">
              <div class="col-md col-12">
                <img src="/image/partymusicevent1x1.png" class="img-fluid rounded-start" alt="BlackPink-concept" />
              </div>
              <div class="col-12 col-md-9">
                <div class="card-body">
                  <div class="card-title d-block d-md-flex justify-content-between pb-3">
                    <h1 class="title-event">
                      <%= event.event_name%>
                    </h1>
                    <div class="free-pill-title"><span>Miễn Phí</span></div>
                  </div>
                  <div class="d-flex flex-column justify-content-between content-events">
                    <p class="card-text">
                      <%= event.content%>
                    </p>
                    <div class="d-block d-md-flex justify-content-between">
                      <div class="d-md-flex flex-md-column justify-content-end">
                        <div>
                          <small class="text-muted">
                            <i class="fas fa-map-marker-alt pe-1"></i>
                            Location: <%= event.event_location %>
                          </small>
                        </div>
                        <div>
                          <small class="text-muted">
                            <i class="fas fa-calendar pe-1"></i>
                            <%= new Date(event.event_date).toLocaleDateString() %>
                          </small>
                        </div>
                      </div>
                      <% if (user) { %>

                        <div class="mt-2 mt-lg-0 d-md-none d-block">
                          <div class="d-flex justify-content-between">
                            <small>Cần giới thiệu <%= 10 - user.referral_code_count %> người để nhận được vé</small>
                            <span class="text-maincolor fw-bold">
                              <%= user.referral_code_count %>/10
                            </span>
                          </div>
                          <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                              aria-label="Animated striped example" aria-valuenow="6" aria-valuemin="0"
                              aria-valuemax="10" style="width: <%= user.referral_code_count * 10 %>%;"></div>
                          </div>
                        </div>

                        <% } else { %>

                          <% } %>


                            <div class="d-flex align-items-end">
                              <% if (user) { %>
                                <% if (ticket==='yes' ) { %>
                                  <button class="btn btn-lg btn-outline-primary btn-maincolor" disabled>
                                    <i class="fas fa-check"></i> Đã nhận vé
                                  </button>
                                  <% } else if (user.referral_code_count>= 10) { %>
                                    <div class="d-flex align-items-end mt-2 mt-lg-0">
                                      <button class="btn btn-lg btn-outline-primary btn-maincolor w-100 w-md-auto"
                                        onclick="return showRedeemConfirmation()">
                                        Nhận vé
                                      </button>
                                    </div>

                                    <% } else { %>

                                      <div class="position-relative d-none d-md-block">
                                        <div class="pie position-absolute end-0"
                                          data-pie='{"unit": "<%= user.referral_code_count%>/10", "percent": <%= user.referral_code_count * 10 %> ,"strokeBottom": 5, "colorSlice": "#0043AB", "colorCircle": "#f1f1f1", "round": true, "size": 80, "fontSize": "1.6rem"}'
                                          data-pie-index="1">
                                        </div>
                                        <% if (user.referral_code_count> 10) { %>
                                          <% } else { %>
                                            <small>Cần giới thiệu <%= 10 - user.referral_code_count %> người để nhận
                                                vé</small>
                                            <% } %>
                                      </div>

                            </div>
                            <% } %>
                              <% } else { %>
                                <a href="/login"><button class="btn btn-lg btn-outline-primary btn-maincolor">Đăng
                                    nhập để tham gia</button></a>
                                <% } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }); %>

      </div>
      </div>
    </main>
    <%- include('footerPartial') %>

      <!-- Circular Progress Bar JS -->
      <!-- <script src="https://cdn.jsdelivr.net/gh/AngeloFaella/CircularProgressBar@1.0/circularProgressBar.min.js"></script> -->
      <script
        src="https://cdn.jsdelivr.net/gh/tomik23/circular-progress-bar@latest/docs/circularProgressBar.min.js"></script>
      <script src="node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
      <!-- Include SweetAlert library -->
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>

      <script>
        function showRedeemConfirmation() {
          // Use SweetAlert2 to show the confirmation dialog
          console.log('ok')
          Swal.fire({
            title: 'Confirm Registration',
            text: 'Do you want to receive this ticket?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Register',
            cancelButtonText: 'Cancel',
          }).then((result) => {
            if (result.isConfirmed) {
              // User clicked Đổi quà button, proceed with redemption
              window.location.href = "/redeem-gift";
            } else {
              return false;
            }
          });
        }


      </script>
      <script type="text/JavaScript">
     window.addEventListener("DOMContentLoaded", () => {
  // update circle when range change
  const pie = document.querySelectorAll(".pie");

  // start the animation when the element is in the page view
  const elements = [].slice.call(document.querySelectorAll(".pie"));
  const circle = new CircularProgressBar("pie");

  // circle.initial();

  if ("IntersectionObserver" in window) {
    const config = {
      root: null,
      rootMargin: "0px",
      threshold: 0.75
    };

    const ovserver = new IntersectionObserver((entries, observer) => {
      entries.map((entry) => {
        if (entry.isIntersecting && entry.intersectionRatio > 0.75) {
          circle.initial(entry.target);
          observer.unobserve(entry.target);
        }
      });
    }, config);

    elements.map((item) => {
      ovserver.observe(item);
    });
  } else {
    elements.map((element) => {
      circle.initial(element);
    });
  }

  setInterval(() => {
    const typeFont = [100, 200, 300, 400, 500, 600, 700];
    const colorHex = `#${Math.floor((Math.random() * 0xffffff) << 0).toString(
      16
    )}`;
    const options = {
      index: 17,
      percent: Math.floor(Math.random() * 100 + 1),
      colorSlice: colorHex,
      fontColor: colorHex,
      fontSize: `${Math.floor(Math.random() * (1.4 - 1 + 1) + 1)}rem`,
      fontWeight: typeFont[Math.floor(Math.random() * typeFont.length)]
    };
    circle.animationTo(options);
  }, 3000);

  // global configuration
  const globalConfig = {
    speed: 30,
    animationSmooth: "1s ease-out",
    strokeBottom: 5,
    colorSlice: "#FF6D00",
    colorCircle: "#f1f1f1",
    round: true
  };

  const global = new CircularProgressBar("global", globalConfig);
  global.initial();

});

  </script>
      <script>
        // Phần mã JavaScript khai báo trước
        function registerForEvent(eventId) {
          const registerButton = document.getElementById(`registerButton_${eventId}`);
          // Gửi yêu cầu POST để đăng ký tham gia sự kiện
          fetch('/register', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ eventId })
          })
            .then(response => response.json())
            .then(data => {
              // Log the success message from the server (optional)
              console.log(data.message);
              // If the registration was successful, update the button text and disable it
              if (data.message === 'Đăng ký tham gia sự kiện thành công') {
                registerButton.textContent = 'Đã đăng ký';
                registerButton.disabled = true;
              } else if (data.message === 'Người dùng đã đăng ký sự kiện này trước đó') {
                // Nếu người dùng đã đăng ký trước đó, không làm gì cả
                registerButton.textContent = 'Đã đăng ký';
                registerButton.disabled = true;
              }
            })
            .catch(error => {
              // Xử lý lỗi (nếu cần)
              console.error(error);
            });
        }
      </script>



      <% if (typeof redeemmessage !=='undefined' && redeemmessage==='success' ) { %>
        <script>
          document.addEventListener("DOMContentLoaded", function () {
            setTimeout(function () {
              // Thay thế modal bằng thông báo SweetAlert2
              Swal.fire({
                imageUrl: '/image/rocket.png', // Change the path to your success ticket image
                imageWidth: 100,
                imageHeight: 100,
                imageAlt: 'Success Icon',
                title: 'Success Ticket', // Change the title to "Success Ticket"
                text: 'Congratulations! You have successfully received your E-Ticket.', // Change the content to "Congratulations! You have successfully received your ticket."
                confirmButtonText: 'OK',
                customClass: {
                  title: 'custom-title-class', // Custom CSS class for the title (if needed)
                }
              });
            }, 500);
          });
        </script>
        <% } %>
          <!-- Bootstrap JavaScript Libraries -->

</body>




</html>